.pop-up{
    height: 35vh;
    text-align: center;
  

}
.fondoPopUp{
    height: 22px;
    width: 100%;
    background-color: #0072bb;
  
}
.btnClose{
    float:right;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    font-size: large;
    margin-right:4px;
}
.title{
    margin-top:4vh;
}

.img{
    width: 6vh;
    height: 6vh;
    text-align: center;
    margin: auto;
    color:#0072bb;
}

.botones{
    margin-top: 6vh;
}

button{
    margin: 10px;
    width: 9vw;
    height: 7vh;
}