
.btnClose{
    float:right;
    cursor: pointer;
    color: white;
    font-weight: bolder;
    font-size: large;
    margin-right:4px;
}

.pop-up{
    width: 100%;
    text-align: center;
    margin: auto;

}

.boton{
    padding: 2vh;
}
.fondoPopUp{
    height: 22px;
    width: 100%;
    background-color:#2da744;
  
}