<div class="overlay">
        <div class="pop-up">
                <div class=fondoPopUp>
    
            <div class="btnClose" (click)="closeModal()">
                <span>X</span>
            </div>
        </div>
           
                <div class="title">
                    <b class="txt-titulo">{{titulo}}</b>
                </div>
                <form [formGroup]="forma" novalidate="novalidate">
    
      
    
                        <div class="form-group row" [ngClass]="{'has-danger': !forma.controls['nombre'].valid}">
                          <label class="col-2 col-form-label">Nombre</label>
                          <div class="col-8">
                    
                            <input class="form-control"
                                   type="text"
                                   formControlName="nombre"
                                  
                                   [(ngModel)]="nombre"
                                   placeholder="Nombre">
                    
                             <div *ngIf="forma.controls['nombre'].errors?.required" class="form-control-feedback">
                                el nombre es requerido
                             </div>      
                                <div *ngIf="forma.controls['nombre'].errors?.minlength" class="form-control-feedback">
                                        minimo 3 caracteres
                                </div>  
                          </div>
                        </div>
                    
                        <div class="form-group row" [ngClass]="{'has-danger': !forma.controls['apellido'].valid}">
                                <label class="col-2 col-form-label">Apellido</label>
                          <div class="col-8">
                    
                            <input class="form-control"
                                   type="text"
                                   formControlName="apellido"
                                   [(ngModel)]="apellido"
                                   placeholder="Apellido">
                                   <div *ngIf="forma.controls['apellido'].errors?.required" class="form-control-feedback">
                                        el apellido es requerido
                                     </div>      
                                        <div *ngIf="forma.controls['apellido'].errors?.minlength" class="form-control-feedback">
                                                minimo 3 caracteres
                                        </div>  

                          </div>
                        </div>
                      <div class="form-group row">
                        <label class="col-2 col-form-label">Correo</label>
                        <div class="col-md-8">
                    
                          <input class="form-control"
                                 type="email"
                                 formControlName="email"
                                 [(ngModel)]="email"
                                 placeholder="Correo electrónico">
                        </div>
                      </div>
                       
                        <div class="boton">
                            <div *ngIf="!editar">
                                    <button type="submit" (click)="agregarCliente()"
                                    class="btn btn-outline-success buton">Agregar Cliente</button>
                                 
                            </div>
                            <div *ngIf="editar">
                                    <button type="submit" (click)="editarCliente()"
                                    class="btn btn-outline-success buton">Editar Cliente</button>
                                 
                            </div>

                        </div>
                    </form>
            
            </div>
        </div>